<?xml version="1.0"?>
<!--
/**
 * Yireo Custsize extension
 *
 * @author Yireo
 * @package Custsize
 * @copyright Copyright 2016
 * @license Yireo EULA (www.yireo.com)
 * @link https://www.yireo.com
 */
-->
<config>

    <modules>
        <Yireo_Custsize>
            <version>0.2.4</version>
        </Yireo_Custsize>
    </modules>

    <global>
        <blocks>
            <custsize>
                <class>Yireo_Custsize_Block</class>
            </custsize>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Yireo_Custsize_Block_Rewrite_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_email_items_order_default>Yireo_Custsize_Block_Rewrite_Sales_Order_Email_Items_Order_Default</order_email_items_order_default>
                </rewrite>
                <rewrite>
                    <order_email_items_default>Yireo_Custsize_Block_Rewrite_Sales_Order_Email_Items_Default</order_email_items_default>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_items_column_name>Yireo_Custsize_Block_Rewrite_Adminhtml_Order_Item_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <custsize>
                <class>Yireo_Custsize_Helper</class>
            </custsize>
        </helpers>

        <models>
            <custsize>
                <class>Yireo_Custsize_Model</class>
                <resourceModel>custsize_mysql4</resourceModel>
            </custsize>
            <custsize_mysql4>
                <class>Yireo_Custsize_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>custsize_profile</table>
                    </profile>
                    <profile_field>
                        <table>custsize_profile_field</table>
                    </profile_field>
                    <profile_value>
                        <table>custsize_profile_value</table>
                    </profile_value>
                    <profile_fieldset>
                        <table>custsize_profile_fieldset</table>
                    </profile_fieldset>
                </entities>
            </custsize_mysql4>
        </models>

        <resources>
            <custsize_setup>
                <setup>
                    <module>Yireo_Custsize</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custsize_setup>
            <custsize_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custsize_write>
            <custsize_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custsize_read>
        </resources>

        <events>
            <catalog_product_save_before>
                <observers>
                    <custsize_catalog_product_hasOptions>
                        <type>singleton</type>
                        <class>custsize/observer_product_hasOptions</class>
                        <method>execute</method>
                    </custsize_catalog_product_hasOptions>
                </observers>
            </catalog_product_save_before>
        </events>

    </global>

    <frontend>
        <secure_url>
            <custsize>/custsize/</custsize>
        </secure_url>
        <routers>
            <custsize>
                <use>standard</use>
                <args>
                    <module>Yireo_Custsize</module>
                    <frontName>custsize</frontName>
                </args>
            </custsize>
        </routers>
        <layout>
            <updates>
                <custsize>
                    <file>custsize.xml</file>
                </custsize>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <custsize_checkout_addProfileData>
                        <type>singleton</type>
                        <class>custsize/observer_checkout_addProfileData</class>
                        <method>execute</method>
                    </custsize_checkout_addProfileData>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_product_add_after>
                <observers>
                    <custsize_checkout_checkChosenProfile>
                        <type>singleton</type>
                        <class>custsize/observer_checkout_checkChosenProfile</class>
                        <method>execute</method>
                    </custsize_checkout_checkChosenProfile>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_Custsize>
                    <files>
                        <default>Yireo_Custsize.csv</default>
                    </files>
                </Yireo_Custsize>
            </modules>
        </translate>

        <layout>
            <updates>
                <custsize>
                    <file>custsize.xml</file>
                </custsize>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <custsize after="Mage_Adminhtml">Yireo_Custsize</custsize>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
